beautifulsoup4 == 4.12.1
delorean == 1.0.0
feedparser == 6.0.10
hydra-core == 1.1.2
langid == 1.1.6
mmh3 == 4.0.1
pandas == 2.0.3
pangres == 4.1.4
PyYAML == 6.0.1
psycopg2-binary == 2.9.6
python-dotenv == 1.0.0
requests == 2.31.0
spacy == 3.6.0
spacy-langdetect == 0.1.2
SQLAlchemy == 2.0.19
tzlocal == 2.1 # bug fix
