.indexCard {
  background: #ffffff;
  width: 410px;
  height: 370px;
  display: flex;
  flex-direction: column;
  .manometer {
    display: flex;
    justify-content: center;

    svg {
      position: absolute;
    }
    img {
      position: absolute;
      width: 400px;
      height: 240px;
    }
  }
}
