body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}
.wrapper {
  background: #e5e5e5;
  max-width: 1280px;
  margin: 0 auto;


  header {
    .headerRectangle {
      width: 100%;
      height: 40px;
      top: 0px;
      background: #75715c;
    }
    .headerInfo {
      width: 100%;
      height: 80px;
      background: #ffffff;
      img {
        margin-left: 15px;
      }
    }
  }
  .description {
    width: 100%;
    background: #ffffff;
  }
  p {
    font-size: 18px;
  }

  .indexPlot {
    background: #ffffff;
    height: auto;
    button {
      margin-top: 20px;
      margin-left: 20px;
      border: none;
      background: none;
      img {
        width: 90px;
        height: 27px;
      }
    }
  }
  .basement {
    .basementInfo {
      width: 100%;
      height: auto;
      background: #ffffff;
      img {
        margin-right: 15px;
      }
    }
    .basementRectangle {
      width: 100%;
      height: 40px;
      top: 0px;
      background: #75715c;
    }
  }
}
